<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="EHS_Ordering" verbose="1" >
    <!--<test name="Nopackage" >-->
    <!--<classes>-->
    <!--<class name="NoPackageTest" />-->
    <!--</classes>-->
    <!--</test>-->
    <!--<classes>-->
    <!--<class name="test.IndividualMethodsTest">-->
    <!--<methods>-->
    <!--<include name="testMethod" />-->
    <!--</methods>-->
    <!--</class>-->
    <!--</classes>-->
    <!--</test>-->
    <test name="EHS_ClassroomCourse">
        <classes>

            <class name="com.ClassroomCourseManagement.AddAtt"/>
            <class name="com.ClassroomCourseManagement.NormalClassroomAndAddClassroomCourseManager"/>
            <class name="com.ClassroomCourseManagement.AddWaitlist"/>
            <class name="com.ClassroomCourseManagement.CancelAndNotify"/>
            <class name="com.ClassroomCourseManagement.ClassroomPrereq_Duplicate"/>
            <class name="com.ClassroomCourseManagement.ClassroomPrereqDecrease"/>
            <class name="com.ClassroomCourseManagement.CreateFullOffering"/>
            <class name="com.ClassroomCourseManagement.CreateOfferingRegister"/>
            <class name="com.ClassroomCourseManagement.EmailAtt"/>
            <class name="com.ClassroomCourseManagement.ManuallyRemoveWaitlist"/>
            <class name="com.ClassroomCourseManagement.NormalRefreshClassroomCourse"/>
            <class name="com.ClassroomCourseManagement.NoShowNotPassedCompleted"/>
            <class name="com.ClassroomCourseManagement.RefreshClassroomCourse"/>
            <class name="com.ClassroomCourseManagement.RegisteringMechanics"/>
            <class name="com.ClassroomCourseManagement.UnregisterClassroom"/>
            <class name="com.ClassroomCourseManagement.UnregisterWaitlist"/>
            <class name="com.ClassroomCourseManagement.FinalDisabledCourseIfNeed"/>

        </classes>
    </test>

</suite>
