<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="EHS_Ordering" verbose="1" >
    <!--<test name="Nopackage" >-->
    <!--<classes>-->
    <!--<class name="NoPackageTest" />-->
    <!--</classes>-->
    <!--</test>-->
    <!--<classes>-->
    <!--<class name="test.IndividualMethodsTest">-->
    <!--<methods>-->
    <!--<include name="testMethod" />-->
    <!--</methods>-->
    <!--</class>-->
    <!--</classes>-->
    <!--</test>-->
    <test name="EHS_ClassroomCourse">
        <classes>
            <class name="com.ClassroomCourseManagement.ClassroomPrerequisiteLInkedOR"/>
        </classes>
    </test>

</suite>
